.ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}

.li{
    background-color: #ebebeb;
    text-decoration: none;
    border-radius: 2rem;
    margin: 2.5rem;
    padding: 1.5rem;
}

.li:hover{
    background-color: #bcbcbc;
}

.li a{
    text-decoration: none;
}

.img{
    height: 40vh;
    text-decoration: none;
    align-self: center;
}

.h1{
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    color: grey;
}

.h3{
    margin: -0.5rem 2rem 1.7rem 2rem;
    text-decoration: none;
    color: rgb(76, 76, 76);
    font-size: 1.4rem;
}

.p{
    background-color: #009b00c7;
    margin: -1.1rem 16rem 0rem 2rem;
    padding: 0.2rem;
    text-align: center;
    border-radius: 0.3rem;
    width: 3rem;
    color: white;
    text-decoration: none;
}

.div{
    margin: -1.3rem 0rem 1.8rem 2rem;
    background-color: #c6c6c6;
    padding: 0.3rem 0.5rem;
    width: 3.99rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem 0rem 2rem;
}

.button{
    background-color: rgba(45, 45, 225, 0.797);
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.65rem;
    font-size: 1rem;
    border-color: white;
}

.button:hover{
    background-color: rgb(1, 1, 148);
}